---
layout: default
title: Bitácora
description: Registros diarios sobre la vida, la escritura, mis proyectos, procesos, etcétera
permalink: /bitacora/
---
<h1>Bitácora</h1>
<p>Registros diarios sobre la vida, la escritura, mis proyectos, procesos, etcétera.</p>
{% if site.posts.size > 0 %}
<ul class="texto-lista">
{% for p in site.posts %}{% include texto-item.html item=p %}{% endfor %}
</ul>
{% else %}
<p class="vacio">La primera entrada se publicará aquí.</p>
{% endif %}
{% include suscripcion.html %}
